<!DOCTYPE html>
<html>
<head>
<style>

header, footer {
    padding: 1em;
    color: red;
    background-color: white;
    clear: left;
    text-align: center;
}

article {
    margin-left: 170px;
    padding: 1em;
    overflow: hidden;
}
</style>
</head>
<body>

<div class="container">

<header>
   <h1> Welcome to the Alpha Blog </h1>
</header>
  
<article>
</article>

<footer> <%= link_to 'Home', root_path %> </footer>

</div>

</body>
</html>