<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://www.lanjiao.com">The Complete Ruby on Rails</a>
      by <a href="http://www.gurame.com">Gurame</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %> </li>
      </ul>
    </nav>
  </footer>
 </div>